.marker {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.button:hover {
  background-color: #3e8e41;
}

.left {
  float: left;
  width: 70%;
}

.right {
  float: right;
  width: 30%;
}

#canvas-from, #canvas-to, #canvas-output {
  display: none;
}

img {
  max-width: 100%;
}

.cropper-crop-box {
  background-color: white;
}

.cropper-container {
  display: none;
}
