.marker {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.button:hover {
  background-color: #3e8e41;
}

.upload {
  background-color: #1155cc;
  padding: 7.5px 16px;
  font-size: 14px;
}

.upload:hover {
  background-color: #0a409b;
}

.animal {
  background-color: #9605da;
}

.animal:hover {
  background-color: #6d029f;
}

.info-left {
  float: left;
  width: 70%;
}

.info-right {
  float: right;
  width: 30%;
}

.upload-left {
  width: 50%;
}

.upload-right {
  width: 50%;
  float: right;
}

.upload-disabled {
  background-color: #0a409b;
  cursor: not-allowed;
}

#canvas-from, #canvas-to, #canvas-output {
  display: none;
}

img {
  max-width: 100%;
}

#progress {
  width: 100%;
  background-color: #f1f1f1;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: #4caf50;
}

#camera-wrapper {
  overflow: hidden;
  display:  none;
}

#camera {
  object-fit: cover;
  object-position: center;
  width:   100%;
  height:  100%;
  z-index: 100;
  display: none;
}

.param-inner-wrapper {
  padding-right: 40px;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

.param-content {
  vertical-align: middle;
}
