.marker {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}

img {
  display: block;
}

.button:hover {
  background-color: #3e8e41;
  color: white;
}

.upload {
  background-color: #1155cc;
  padding: 10px 16px;
  font-size: 14px;
  margin-top: 1px;
}

.upload:hover {
  background-color: #0a409b;
}

.purple {
  background-color: #9605da;
}

.purple:hover {
  background-color: #6d029f;
}

.centered-260x50 {
  margin: 0 auto;
  width: 260px;
  height: 50px;
}

.size-260x50 {
  width: 260px;
  height: 50px;
}

.bgb-space {
  margin-top: 20px;
  margin-bottom: 25px;
}

.upload-wrapper {
  width: 100%;
}

.upload-disabled {
  background-color: #0a409b;
  cursor: not-allowed;
}

.green-disabled {
  background-color: #3e8e41;
  cursor: not-allowed;
}

.purple-disabled {
  background-color: #6d029f;
  cursor: not-allowed;
}

.options-left {
  width: 50%;
  float: left;
}

.options-right {
  width: 50%;
  float: right;
}

.output-left {
  width: 67%;
  float: left;
}

.output-right {
  width: 33%;
  float: right;
}

.output-wrapper-left {
  width: 25%;
  float: left;
}

.output-wrapper-right {
  width: 75%;
  float: right;
}

.reminder {
  width: 100%;
}

#from-reminder {
  margin-bottom: 2px;
}

#gif-output {
  width: 99%;
}

.box-left {
  display: inline-block;
  width: 46%;
  float: left;
}

.box-right {
  display: inline-block;
  width: 46%;
  float: right;
}

.botspace-1 {
  margin-bottom: 1px;
}

.topbotspace-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

#canvas-from, #canvas-to, #canvas-output {
  display: none;
}

img {
  max-width: 100%;
}

#progress {
  width: 100%;
  background-color: #f1f1f1;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: #4caf50;
}

#camera-wrapper {
  overflow: hidden;
  display:  none;
}

#camera {
  object-fit: cover;
  object-position: center;
  width:   100%;
  height:  100%;
  z-index: 100;
  display: none;
}

.param-inner-wrapper {
  padding-right: 40px;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

.param-content {
  vertical-align: middle;
}

.info-modal {
  background-color: #FFF;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 24px;
  width: 60%;
  position: relative;
  display: none;
}

#show-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #d3d3d3;
  opacity: 0.8;
  color: #2a2a2a;
}

#show-info:hover {
  background-color: #2a2a2a;
  color: #d3d3d3;
  opacity: 0.8;
}

button:focus {
  outline: 0;
}

button#lion-btn {
  background-image: url("../images/other/lion_small.jpg");
}

button#dog-btn {
  background-image: url("../images/other/dog_small.jpg");
}

button#chameleon-btn {
  background-image: url("../images/other/chameleon_small.jpg");
}

button#fish-btn {
  background-image: url("../images/other/fish_small.jpg");
}

button#rabbit-btn {
  background-image: url("../images/other/rabbit_small.jpg");
}

.animal-wrapper button {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 42px auto;
  padding-left: calc(42px + 32px);
  width: 200px;
}

#animal-buttons {
  width: 0px;
  height: calc(49px * 5);
}

.phase1-size {
  width: 100%;
  height: calc(49px * 5);
}

.phase2, .phase3 {
  display: none;
}

.phase1 {
  display: initial;
}

b {
  font-weight: 700;
}

#images-and-output {
  margin-bottom: 20px;
}

.text-centered {
  text-align: center;
}

#control-label {
  margin-top: 30px;
}

legend {
  margin-bottom: 5px;
}

.box {
  margin-bottom: 15px;
}

.a-button {
  padding-top: 12px;
  padding-bottom: 12px;
}

#progress-label {
  padding: 12px 12px;
  display: inline-block;
}
